* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.content__centering {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.goods-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goods-item {
    flex: 15%;
    border: 1px solid wheat;
    width: 150px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.basket-item {
    flex: 15%;
    border: 1px solid wheat;
    width: 150px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.cart-button {
    margin-bottom: 20px;
    margin-top: 20px;
}

.img {
    width: 120px;
    height: 120px;
}

#message-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}

.message-error {
    outline: 3px solid red;
}

.message-success {
    outline: 3px solid green;
}

span {
    font-size: 14px;
    color: red;
}

